volumes:
  social-network-local-db:
  social-network-local-valkey:
  social-network-local-rabbitmq:
  social-network-local-mongodb:

networks:
  social-network-local-net:

services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - social-network-local-db:/var/lib/postgresql/data
      - ./postgresql/ext-trgm.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - social-network-local-net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:8-noble
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: dialogs_db
      MONGO_DB_USER: ${MONGO_DB_USER}
      MONGO_DB_PASSWORD: ${MONGO_DB_PASSWORD}
    volumes:
      - social-network-local-mongodb:/data/db
      - ./build/mongo/init.js:/docker-entrypoint-initdb.d/init.js:ro
    networks:
      - social-network-local-net

  valkey:
    image: valkey/valkey:7.2-alpine
    environment:
      - VALKEY_PASSWORD=${VALKEY_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - social-network-local-valkey:/data
    networks:
      - social-network-local-net
    command: >
      valkey-server
      --requirepass ${VALKEY_PASSWORD}
      --save 60 1
      --loglevel notice
      --protected-mode no
    healthcheck:
      test: [ "CMD", "valkey-cli", "-a", "${VALKEY_PASSWORD}", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3

  rabbitmq:
    image: rabbitmq:3.12-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - social-network-local-rabbitmq:/var/lib/rabbitmq
    networks:
      - social-network-local-net
