volumes:
  social-network-db:
  social-network-valkey:
  social-network-rabbitmq:

services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - social-network-db:/var/lib/postgresql/data
      - ./postgresql/ext-trgm.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  valkey:
    image: valkey/valkey:7.2-alpine
    environment:
      - VALKEY_PASSWORD=${VALKEY_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - social-network-valkey:/data
    command: >
      valkey-server
      --requirepass ${VALKEY_PASSWORD}
      --save 60 1
      --loglevel notice
      --protected-mode no
    healthcheck:
      test: [ "CMD", "valkey-cli", "-a", "${VALKEY_PASSWORD}", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3

  rabbitmq:
    image: rabbitmq:3.12-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - social-network-rabbitmq:/var/lib/rabbitmq

  migrate:
    build: .
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env.local
    command: ["migrate", "up"]
    restart: on-failure

  app:
    build: .
    depends_on:
      - migrate
      - valkey
      - rabbitmq
    env_file:
      - .env.local
    ports:
      - "${APP_PORT}:8080"
    restart: unless-stopped

  task_processor:
    build: .
    depends_on:
      - app
    env_file:
      - .env.local
    command: [ "task_process" ]
    restart: unless-stopped